html { 
  background: url(img/loginbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center; 
  font-family: 'Open Sans', sans-serif;
}
form{
	color: #800080;
	font-weight: bold;
}
.outer {
    display: table;
    position: absolute;
    height: 95%;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
input{
	margin: 1vh 1vw 1vh 1vw;
	padding: 10px;
  	border: none;
  	border-bottom: solid 2px #c9c9c9;
  	transition: border 0.3s;
}
input:focus{
  border-bottom: solid 2px #32CD32;
  outline: none;
}
input[type="submit"]{
	position: relative;
	padding: 10px 40px;
	margin: 2vh 1vw 2vh 1vw;
	border-radius: 8px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
input[type="submit"]:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid #2980B9;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
div{
	margin: 2vh 1vw 2vh 1vw;
	margin: auto;
}
.error{
	color: #ff0000;
	font-weight: normal;	
}
h2{
	color: #f24646;
	text-shadow: 1px 1px 1px  #5E2D79;
}
a{
	text-decoration: none;
	color: green;
}
a:hover{
	text-decoration: none;
	color: blue;
}